nav ul a,
nav .brand-logo {
    color: #444;
}

img {
    width: 300px;
    height: 300px;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.background-image-container {
    /* background: url("/workspace/milestone-3-cookbook/images/background-image.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    min-height: 380px;
    line-height: 0;
    height: auto;
    /* color: rgba(255,255,255,.9); */
}

/* .background-image {
    width: 100%;
} */

@media only screen and (max-width : 992px) {
  .background-image-container .section {
    top: 40%;
  }

  #recipe-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 720px) {
    .brand-logo {
        display: none !important;
    }
}

@media only screen and (max-width : 600px) {
  #recipe-banner .section {
    top: 0;
  }
}

.recipe-container {
    width: 100%;
}

.recipe-block {
    padding: 0 15px;
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}
