nav ul a,
nav .brand-logo,
hr {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #444;
}

.parallax-container {
    position: relative;
    line-height: 0;
    height: 100vh;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
    position: absolute;
    top: 40%;
}

#recipe-banner .section {
    top: 10%;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidenav a {
    font-size: large !important;
}

.page-footer a {
    font-size: 3em !important;
}

@media only screen and (max-width : 720px) {
    .brand-logo {
        display: none !important;
    }
}

@media only screen and (max-width : 600px) {
  #recipe-banner .section {
    top: 0;
  }
}

.recipe-container {
    width: 100%;
}

.recipe-block {
    padding: 0 15px;
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}
