nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.background-image-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.background-image .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .background-image-container .section {
    position: absolute;
    top: 40%;
  }
  #recipe-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #recipe-banner .section {
    top: 0;
  }
}

.recipe-block {
  padding: 0 15px;
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
