{% extends "base.html" %}
{% block content %}

    <div class="row">
        <h3 class="teal-text text-darken-2 center-align">Add Recipe</h3>
    </div>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix teal-text text-darken-2"></i>
                    <input id="recipe_name" name="recipe_name"
                        type="text" class="validate" required>
                    <label for="recipe_name" class="teal-text text-darken-2">Recipe Name</label>
                </div>
            </div>
            <!-- description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-comment-dots prefix teal-text text-darken-2"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description" class="teal-text text-darken-2">Description</label>
                </div>
            </div>
            <!-- ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list prefix teal-text text-darken-2"></i>
                    <textarea id="ingredients" name="ingredients" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="ingredients" class="teal-text text-darken-2">Ingredients <em>(please add a comma after each ingredient)</em></label>
                </div>
            </div>
            <!-- prep steps -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-mortar-pestle prefix teal-text text-darken-2"></i>
                    <textarea id="preparation" name="preparation" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="preparation" class="teal-text text-darken-2">Preparation <em>(please add comma after each step</em>)</label>
                </div>
            </div>
            <!-- prep time -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="far fa-clock prefix teal-text text-darken-2"></i>
                    <textarea id="preparation_time" name="preparation_time" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="preparation_time" class="teal-text text-darken-2">Preparation Time</label>
                </div>
                <!-- meal type select -->
                <div class="input-field col s6">
                    <select id="category_name" name="category_name" class="validate" required>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name" class="teal-text text-darken-2">Meal Type</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row center-align">
                <button type="submit" class="teal white-text btn-large">
                    Add Recipe <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </form>
    </div>

{% endblock %}