{% extends "base.html" %}
{% block content %}

    <h3 class="blue-grey-text text-darken-2 center-align">Recipes</h3>

    <ul class="collapsible card-panel grey lighten-4">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header yellow-text blue-grey darken-2 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.preparation_time }}
            </div>
            <div class="collapsible-body">
                <strong>{{ recipe.recipe_description }}</strong>
                <p><em>By: {{ recipe.created_by }}</em></p>
            </div>
        </li>
        <li>
            <div class="collapsible-header yellow-text blue-grey darken-2 text-shadow">
                <i class="fas fa-list-ul"></i><strong>Ingredients:</strong>
            </div>
            <div class="collapsible-body">
                {% for ingredient in recipe.ingredients %}
                <p>- {{ingredient}}</p>
                {% endfor %}
            </div>
        </li>
        <li>
            <div class="collapsible-header yellow-text blue-grey darken-2 text-shadow">
                <i class="fas fa-mortar-pestle"></i><strong>Preparation:</strong></div>
            <div class="collapsible-body">
                {% for step in recipe.preparation %}
                <p>- {{step}}</p>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}